### Generic settings

SYNC_LOCAL="../vagrant"
SYNC_REMOTE='/vagrant'
BOOTSTRAP_SCRIPT="../scripts/bootstrap/custom/linux.sh"

### Libvirt settings

BOX="dliappis/centos7minlibvirt"
BOX_URL="https://atlas.hashicorp.com/dliappis/boxes/centos7minlibvirt"

HOST="server.domain.com"
CONNECT_VIA_SSH=true
USERNAME=username
PASSWORD=password
ID_SSH_KEY_FILE="id_rsa"

MEMORY=768
CPUS=1
GRAPHICS_TYPE="vnc"
GRAPHICS_IP="127.0.0.1"
