### Generic settings

SYNC_LOCAL="../synced"
SYNC_REMOTE='/vagrant'
BOOTSTRAP_SCRIPT="../scripts/bootstrap/custom/linux.sh"

### EC2 settings

ACCESS_KEY_ID=""
SECRET_ACCESS_KEY=""
KEYPAIR_NAME="default"
AMI="ami-9a380b87"
REGION="us-west-1"
INSTANCE_TYPE="t2.small"
SECURITY_GROUPS="sg-abcabcab"
SUBNET_ID="subnet-abcabcab"
ASSOCIATE_PUBLIC_IP="true"
SSH_USERNAME="ubuntu"
SSH_PRIVATE_KEY_PATH="~/.ssh/default.pem"
VOLUMESIZE=10
LSBDISTCODENAME="trusty"

# Use this only if synced folders are failing (e.g. on Windows hosts)
#USER_DATA_FILE="../scripts/bootstrap/custom/linux.sh"

