ACCESS_KEY_ID=""
SECRET_ACCESS_KEY=""
KEYPAIR_NAME="default"
AMI="ami-9a380b87"
REGION="us-west-1"
INSTANCE_TYPE="t2.small"
SECURITY_GROUPS="sg-abcabcab"
SUBNET_ID="subnet-abcabcab"
ASSOCIATE_PUBLIC_IP="true"
SSH_USERNAME="ubuntu"
SSH_PRIVATE_KEY_PATH="~/.ssh/default.pem"
VOLUMESIZE=10
LSBDISTCODENAME="trusty"

# OSFAMILY must be either "windows" or "linux".
OSFAMILY="linux"
